#mymain {
    width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.profile {
    display: flex;
    gap: 40px;
}
.mypage {
    padding:24px 16px;
}
.left {
    width: 300px;
    padding:0 50px;
    height: 400px;
    background: rgb(250, 249, 249);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mypoto {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.profileBtn {
    width: 250px;
    height: 40px;
    background-color: #e2e2e2;
    color: black;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.profileBtn:hover {
    background-color: #cdcccc;
}
.leftBottom {
    display: flex;
    justify-content: space-around;
}
.leftBottom > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.bookcaseRoute {
    display: flex;
    gap: 8px;
    font-size: 24px;
    padding-left: 20px;
}
.mybookcase{
    font-size: 24px;
    font-weight:800;
    color: #999;
}
.myReview {
    font-size: 24px;
    font-weight:800;
    color: #333;
}

.bookcaseRoute > div > a:hover {
    font-size: 24px;
    font-weight:800;
    color: #333;
    background-color: #e2e2e2;
    border-radius: 10px;
}

.rightBox {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    color: #666;
    margin: 0 280px;
}

.rightBox :nth-child(1) {
    font-weight: 600;
    font-size: 22px;
    color: black;
}
.bookmarkBtn {
    /* width: 250px; */
    padding: 8px 16px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 800;
    text-decoration: none;
}
.bookmarkBtn:hover{
    background-color: rgb(10, 10, 243);
}
.bookReview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.BookreviewBox {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center;
    border: solid 1px #efefef;
    border-radius:18px
}
.imgBox{
    display: flex;
    justify-content: left;
    gap: 10px;
}
.imgBox > div {
    display: flex;
    align-items: end;
}
.myimg{
    width: 40px;
    height: 40px;
    border-radius: 12px;
}