<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책상세 페이지</title>
    <link href="../../css/viewPage.css" rel="stylesheet">
</head>
<body>
    <div id="container-Box">
        <div id="inner-container">
            <section class="bookImg">
                <img src="https://image.aladin.co.kr/product/33037/47/cover500/8986022842_1.jpg">
                <button>
                    북마크
                </button>
            </section>
            <section id="title">
                <div class="bookTitle">상실</div>
                <div class="bookAthor">조앤 디디온지음 </br>홍한별 옮김</div>
                <div class="bookDct"></div>
            </section>
            <section id="content">
                <p>감상문</p>
                <button id="CommentaryBtn">감상문 작성</button>
            </section>
        </div>
    </div>
</body>
</html>