<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Dongle&family=Jua&family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <link href="/css/maincss/header.css" rel="stylesheet"/>
    <link href="/css/maincss/footer.css" rel="stylesheet"/>
    <link href="/css/views/community.css" rel="stylesheet">
</head>
<body>
    <div id="mainPage">
        <div id="header">
            <div class="header-inner">
                <div class="headerBox">
                    <a href="/">
                        <img src="/img/logo4.png">
                    </a>
                    <div class="search" tabindex="0">
                        <form class="search_form" action="/booksearch" method="get">
                            <input class="search_bar" id="input" name=query value="" type="text" placeholder="리뷰하고 싶은 책을 검색해 보세요!">
                            <button type="submit"><img src="img/readingGlasses.png"></button>
                        </form>
                    </div>
                    {% if user %}
                    <div class="loginHeader">
                        <a href="/mybookmark">
                            <img class="loginLogo" src="/img/bookmark_empty_img.png">
                        </a>
                        <div>
                            <img class="loginThumbnail" src="{{user.thumbnail}}">
                        </div>
                        <div class="userThumbInfo" style="display:none">
                            <div class="userInfoCloseBtn">✖</div>
                            <a href="/mybookmark">북마크</a>
                            <a href="/usermodify">내정보</a>
                            <a href="/myreview">감상문</a>
                            <a class="logout" href="http://localhost:3000/oauth/logout?nickname={{user.nickname}}">로그아웃</a>
                        </div>
                    </div>
                    {% else %}
                    <a href="/login/page" class="logoLogin">북아일랜드 시작하기</a>
                    {% endif %}
                </div>
                <div id="inner">
                    <div class="innerbox">
                        <ul class="banner">
                            <li>
                                <a href="/reviewlist">감상문</a>
                            </li>
                            <li>
                                <a href="/booklist">책</a>
                            </li>
                            <li>
                                <a href="/audiolist">오디오북</a>
                            </li>
                            <li>
                                <a href="/community">커뮤니티</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="container">
                <div class="nav">
                    <h3>
                      BOOK ISLAND
                      <span class="gray">></span>
                      <span class="blue">커뮤니티</span>
                    </h3>
                </div>
                <div class="community-area">
                    <form class="community-write" action="http://localhost:3000/community/write" method="post">
                        <textarea name="context" class="context" value="" rows="4" maxlength="100" placeholder="자유롭게 대화해요"></textarea>
                        <button class="commentary-btn" type="submit" >작성</button>
                    </form>
                    <div class="community-list">
                        {% for item in communitiesData %}
                        <ul class="list-area">
                            <li class="context">{{item.context}}</li>
                            <li class="date">{{item.createdAt}}</li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div> 
        <div id="loginUser">{{user.nickname}}</div>
    <div id="topbutton">
        <a href="#mainPage"><img class="topbuttonImg" src="/img/topimg.png"></a>
    </div>
    <div id="footer">
        <div class="footerbox">
            <div>(주)북아일랜드</div>
            <div>
                <a href="https://www.youtube.com/"><img width="30px" height="30px" src="/img/youtubeLogo-removebg-preview.png"></a>
                <a href="https://www.instagram.com/"><img width="35px" height="30px" src="/img/instagramLogo-removebg-preview.png"></a>
                <a href="https://www.google.com"><img width="30px" height="30px" src="/img/glooglelogo.png"></a>
            </div>
        </div>
        <div>
            <ul class="footerUl">
                <li><a href="#">이용약관 ></a></li>
                <li><a href="#">개인정보처리방침 ></a></li>
                <li><a href="#">청소년보호정책  ></a></li>
                <li><a href="#">고객센터 ></a></li>
                <li><a href="#">B2B 문의 ></a></li>
                <li><a href="#">콘텐츠 제휴문의 ></a></li>
                <li><a href="#">뷰어 다운로드 ></a></li>
                <li><a href="#">회사 소개 </a></li>
            </ul>
        </div>
        <div>
            <ul class="footerUL">
                <li><a><img width="40px" height="40px"></a></li>
                <li><a href="#">정보관리체계 블록체인 인증획득 |</a></li>
                <li><a href="#">인증 범위: 북아일랜드 고객서비스 |</a></li>
                <li><a href="#">인증 범위: 북아일랜드 고객서비스 |</a></li>
                <P>유효기간: 2025-02-01 ~ 2026-02-04</P>
            </ul>
        </div>
        <p>Copyright &copy; 2025 북아일랜드 All Rights Reserved.</p>
    </div>
    <script src="/js/loginUser.js"></script>
</body>
</html>