<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰상세 페이지</title>
    <link href="/css/maincss/header.css" rel="stylesheet" />
    <link href="/css/maincss/footer.css" rel="stylesheet" />
    <link href="/css/views/viewPage.css" rel="stylesheet" />
    <link href="/css/views/reviewdetail.css" rel="stylesheet" />
  </head>
  <body>
    <div id="mainPage">
      <div id="header">
        <div class="header-inner">
          <div class="headerBox">
            <a href="/">
              <img src="/img/logo4.png" />
            </a>
            <div class="search">
              <input
                href="#"
                id="input"
                placeholder="리뷰하고 싶은 책을 검색해 보세요!"
              />
            </div>
            <a href="/login/page" class="logoLogin">북아일랜드 시작하기</a>
          </div>
          <div id="inner">
            <div class="innerbox">
              <ul class="banner">
                <li>
                  <a href="/reviewlist">감상문</a>
                </li>
                <li>
                  <a href="/booklist">책</a>
                </li>
                <li>
                  <a href="/audiolist">오디오북</a>
                </li>
                <li>
                  <a href="/community">커뮤니티</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <main id="container">
        <div id="searchR">
          <h3>
            BOOK ISLAND
            <span class="gray">></span>
            감상문 보기
            <span class="gray">></span>
            <span class="blue">홍길동 님</span>
          </h3>
        </div>
        <section id="innerContainer">
          <aside class="title">
            <div class="bookImg">
              <img src="{{ bookData.cover }}" />
            </div>
            <!-- class 이름 추가 -->
            <div class="book_btn">
              <!-- 이미지 변경 -->
              <img
                class="bookmark-btn"
                src="/img/bookmark_empty_img.png"
                art="비어있는 북마크 이미지"
              />
            </div>
          </aside>
          <article id="attribute">
            <div class="bookReview">
              <div class="write">{{bookData.context}}</div>
              <div class="imgBox">
                <div>
                  <a href="#">
                    <img
                      class="myimg"
                      src="{{bookData.User.thumbnail}}"
                      alt=""
                    />
                  </a>
                  <div>{{bookData.User.nickname}}</div>
                </div>
                <div class="date">{{bookData.updatedAt}}</div>
              </div>
            </div>
            <form
              class="textbox"
              action="http://192.168.0.23:3000/comment/{{bookData.review_id}}"
              method="post"
            >
              <textarea name="context"></textarea>
              <input type="text" name="nickname" value="kim" hidden />
              <button type="submit" class="write-btn">작 성</button>
            </form>
            <div class="reviewLine"></div>
            {% for item in CommentList %}
            <div class="showcomment">
              <div>
                <div class="commentwrite">{{item.context}}</div>
                <div class="writebox">
                  <div>
                    <a href="#">
                      <img class="img" src="{{item.User.thumbnail}}" alt="" />
                    </a>
                    <div>{{item.User.nickname}}</div>
                  </div>
                  <div class="date">{{item.updatedAt}}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </article>
        </section>
      </main>
      <div id="topbutton">
        <a href="#mainPage"
          ><img class="topbuttonImg" src="/img/topimg.png"
        /></a>
      </div>
      <div id="footer">
        <div class="footerbox">
          <div>(주)북아일랜드</div>
          <div>
            <a href="https://www.youtube.com/"
              ><img
                width="30px"
                height="30px"
                src="/img/youtubeLogo-removebg-preview.png"
            /></a>
            <a href="https://www.instagram.com/"
              ><img
                width="35px"
                height="30px"
                src="/img/instagramLogo-removebg-preview.png"
            /></a>
            <a href="https://www.google.com"
              ><img width="30px" height="30px" src="/img/glooglelogo.png"
            /></a>
          </div>
        </div>
        <div>
          <ul class="footerUl">
            <li><a href="#">이용약관 ></a></li>
            <li><a href="#">개인정보처리방침 ></a></li>
            <li><a href="#">청소년보호정책 ></a></li>
            <li><a href="#">고객센터 ></a></li>
            <li><a href="#">B2B 문의 ></a></li>
            <li><a href="#">콘텐츠 제휴문의 ></a></li>
            <li><a href="#">뷰어 다운로드 ></a></li>
            <li><a href="#">회사 소개 </a></li>
          </ul>
        </div>
        <div>
          <ul class="footerUL">
            <li>
              <a><img width="40px" height="40px" /></a>
            </li>
            <li><a href="#">정보관리체계 블록체인 인증획득 |</a></li>
            <li><a href="#">인증 범위: 북아일렌드 고객서비스 |</a></li>
            <li><a href="#">인증 범위: 북아일렌드 고객서비스 |</a></li>
            <p>유효기간: 2025-02-01 ~ 2026-02-04</p>
          </ul>
        </div>
        <p>Copyright &copy; 2025 북아일렌드 All Rights Reserved.</p>
      </div>
    </div>
  </body>
</html>
