<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책상세 페이지</title>
    <link href="../../css/views/viewPage.css" rel="stylesheet">
    <link href="../../css/maincss/header.css" rel="stylesheet">
    <link href="../../css/views/reviewdetail.css" rel="stylesheet">
    <link href="../../css/maincss/footer.css" rel="stylesheet">
    <style>
        #attribute {
            margin-top: 38px;
        }
    </style>
</head>
<body>
    <div id="mainPage">
        <div id="header">
            <div class="header-inner">
                <div class="headerBox">
                    <h1>LOGO</h1>
                    <div class="search">
                        <input type="text" placeholder="원하는 책을 검색해보세요!" id="input">
                        <div>검색</div>
                    </div>
                    <a href="/login/page">로그인</a>
                </div>
                <div id="inner">
                    <div class="innerbox">
                        <ul class="banner">
                            <li>
                                <a href="#">감상문</a>
                            </li>
                            <li>
                                <a href="#">책</a>
                            </li>
                            <li>
                                <a href="#">오디오북</a>
                            </li>
                            <li>
                                <a href="#">커뮤니티</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="container">
        <section id="innerContainer">
            <aside class="title">
                    <div class="bookImg">
                        <img src="{{ item.cover }}">
                    </div>
                    <button>
                        <img src ="/img/not.png" art="빈 이미지">
                    </button>
            </aside>
            <article id="attribute">
                <div class="bookReview">
                    {%for Bookreview in bookData %}
                    <div class="BookreviewBox">
                        <div class="write">{{Bookreview.title}}</div>
                        <div class="imgBox" >
                            <a href="#">
                                <img class="myimg" src="{{Bookreview.cover}}" alt="">
                            </a>
                            <div>{{Bookreview.author}}</div>
                        </div>
                        <form class="comment">
                            <input class="write-comment"
                            type="text"
                            placeholder="입력해주세요"
                            name="comments"
                            value=""
                        />
                        <button type="submit" class="writeCo-btn">Submit</button>
                        </form>
                        <div class="showcomment">
                            <!-- 보여줄자리 -->hhhhh
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </article>
        </section>
    </main>
    <div id="footer">
        <div class="footerbox">
            <div>(주)북아일랜드</div>
            <div>
                <a href="#"><img width="30px" height="30px"></a>
                <a href="#"><img width="30px" height="30px"></a>
                <a href="#"><img width="30px" height="30px"></a>
            </div>
        </div>
        <div>
            <ul class="footerUl">
                <li><a href="#">이용약관 ></a></li>
                <li><a href="#">개인정보처리방침 ></a></li>
                <li><a href="#">청소년보호정책  ></a></li>
                <li><a href="#">고객센터 ></a></li>
                <li><a href="#">B2B 문의 ></a></li>
                <li><a href="#">콘텐츠 제휴문의 ></a></li>
                <li><a href="#">뷰어 다운로드 ></a></li>
                <li><a href="#">회사 소개 </a></li>
            </ul>
        </div>
        <div>
            <ul class="footerUL">
                <li><a><img width="40px" height="40px"></a></li>
                <li><a href="#">정보관리체계 블록체인 인증획득 |</a></li>
                <li><a href="#">인증 범위: 북아일렌드 고객서비스 |</a></li>
                <li><a href="#">인증 범위: 북아일렌드 고객서비스 |</a></li>
                <P>유효기간: 2025-02-01 ~ 2026-02-04</P>
            </ul>
        </div>
        <p>Copyright &copy; 2025 북아일렌드 All Rights Reserved.</p>
    </div>
</body>
</html>