<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Dongle&family=Jua&family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/maincss/header.css">
    <link rel="stylesheet" href="/css/maincss/main.css">
    <link rel="stylesheet" href="/css/maincss/ad.css">
    <link rel="stylesheet" href="/css/maincss/footer.css">
    <link rel="stylesheet" href="/css/maincss/loginbox.css">
  
    <link rel="stylesheet" href="/css/chatbook.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="mainPage">
        <div id="header">
            <div class="header-inner">
                <div class="headerBox">
                    <a href="/">
                        <img src="/img/logo4.png">
                    </a>
                    <div class="search" tabindex="0">
                        <form class="search_form" action="/booksearch" method="get">
                            <input class="search_bar" id="input" name=query value="" type="text" placeholder="리뷰하고 싶은 책을 검색해 보세요!">
                            <button type="submit"><img src="/img/readingGlasses.png"></button>
                        </form>
                    </div>
                    {% if user %}
                    <div class="loginHeader">
                        <a href="/mybookmark">
                            <img class="loginLogo" src="/img/bookmark_empty_img.png">
                        </a>
                        <div>
                            <img class="loginThumbnail" src="{{user.thumbnail}}">
                        </div>
                        <div class="userThumbInfo" style="display:none">
                            <div class="userInfoCloseBtn">✖</div>
                            <a href="/mybookmark">북마크</a>
                            <a href="/usermodify">내정보</a>
                            <a href="/myreview">감상문</a>
                            <a class="logout" href="http://localhost:3000/oauth/logout?nickname={{user.nickname}}">로그아웃</a>
                        </div>
                    </div>
                    {% else %}
                    <a href="/login/page" class="logoLogin">북아일랜드 시작하기</a>
                    {% endif %}
                </div>
                <div id="inner">
                    <div class="innerbox">
                        <ul class="banner">
                            <li>
                                <a href="/reviewlist">감상문</a>
                            </li>
                            <li>
                                <a href="/booklist">책</a>
                            </li>
                            <li>
                                <a href="/audiolist">오디오북</a>
                            </li>
                            <li>
                                <a href="/community">커뮤니티</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="mainBox">
                <div class="mainName">
                    <h3>오늘의</h3>
                    <h3>
                        베스트
                        <a>
                            BOOK
                        </a>
                    </h3>
                </div>
                <div class="daybookbox">
                        <div class= "sliderBox">
                            <div class="slider">
                                <!-- 슬라이드 아이템들이 들어갈 영역 -->
                                    <div class="slide-container" id="slideContainer">
                                    <!-- 아이템들은 JS에서 이곳으로 동적으로 생성됩니다. -->
                                    </div>
                                <!-- 좌우 이동 버튼 -->
                                <div class="controls">
                                    <button id="prevBtn">◁</button>
                                    <button id="nextBtn">▷</button>
                                </div>
                            </div>
                        </div>
                    <div id="dataHolder" style="display: none;">{{ mybookData | dump }}</div>
                </div>
            </div>
        </div>
        <div id="ad">
            <div class="adName">
                <h3>최근
                    <a>
                        감상문
                    </a>
                </h3>
            </div>
            <div class="adbox">
                {% for item in bookDataViews %}
                <div class="bookUpload">
                    <div>
                        <a href ="/bookview/{{ item.isbn13 }}">
                            <img class="bookImg" src={{item.cover}}>
                        </a>
                    </div>
                    <div class="bookUploadAuthor">{{item.author}}</div>
                    <div class="bookUploadImg">
                        <div>
                            <img src="{{item.thumbnail}}"></img>
                            {{item.nickname}} </div>
                        <p>리뷰 : [{{item.count}}]</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if user %}
        <div id="chat-container" class="minimized">
            <div class="chat-icon" id="chat-icon">
              <img src="/img/chatBook_img.png" alt="Chat Icon" />
            </div>
            <div class="chat-content">
              <div class="chat-header">ChatBook <span class="close-btn" id="close-btn">&times;</span></div>
              <div class="chat-body" id="chat-body"></div>
              <div class="chat-input">
                <textarea id="chat-input" placeholder="메시지를 입력하세요..."></textarea>
                <button onclick="sendMessage()">전송</button>
              </div>
            </div>
          </div>
        {% endif %}
        <div id="topbutton">
            <a href="#mainPage"><img class="topbuttonImg" src="/img/topimg.png"></a>
        </div>
        <div id="footer">
            <div class="footerbox">
                <div>(주)북아일랜드</div>
            </div>
            <div>
                <ul class="footerUl">
                    <li><a href="#">이용약관 ></a></li>
                    <li><a href="#">개인정보처리방침 ></a></li>
                    <li><a href="#">청소년보호정책  ></a></li>
                    <li><a href="#">고객센터 ></a></li>
                    <li><a href="#">B2B 문의 ></a></li>
                    <li><a href="#">콘텐츠 제휴문의 ></a></li>
                    <li><a href="#">뷰어 다운로드 ></a></li>
                    <li><a href="#">회사 소개 </a></li>
                </ul>
            </div>
            <div>
                <ul class="footerUL">
                    <li><a href="#">정보관리체계 블록체인 인증획득 |</a></li>
                    <li><a href="#">인증 범위: 북아일랜드 고객서비스 |</a></li>
                    <li><a href="#">인증 범위: 북아일랜드 고객서비스 |</a></li>
                    <P>유효기간: 2025-02-01 ~ 2026-02-04</P>
                </ul>
            </div>
            <p>Copyright &copy; 2025 북아일랜드 All Rights Reserved.</p>
        </div>
    </div>
    {% if user %}
    {% else %}
    <dialog class="loginBox">
        <div class="login" id="popup"> 
            <div class="popup">
                <div class="popup-head">	
                    <button class="closeBtn">x</button>
                    <img class="head-title" src="/img/loginLogo2.png">
                </div>
                <div class="popup-body">	
                    <div class="body-content">
                        <div class="body-titlebox">
                            <h3>반가워요! <br> 북아일랜드 시작하기 </h3>
                        </div>
                        <div class="body-contentbox">
                            <div class="logintext">요즘 일하는 사람들이 책을 찾는 새로운 방법<br> 뛰어난 커리어를 가진 사람들과 도서를 나누고, 나에게 꼭 필요한 책을 찾으세요.</div>
                            <form method="get" action="/login/page">
                                <button type="submit">
                                    <img src="/img/kakaoLogo.png" width="30px" height="30px">
                                    카카오로 3초만에 시작하기
                                </button>
                            </form>
                        </div>
                        <p>로그인은
                            <a href="https://bookcovery.notion.site/7f574a4a03a540ea846dd638aa712b11">개인정보보호 정책</a>
                            및
                            <a href="https://bookcovery.notion.site/92c58cef635a4fd08663942a6d4e7288">서비스 약관</a>
                            에 동의하는 것을 의미합니다!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    {% endif %}
    <script src="/js/loginPopup.js"></script>
    <script src="/js/userInfoButton.js"></script>
    <script src="/js/slide.js"></script>
    <script src="/js/chatbook.js"></script>
</body>
</html>