<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/BookReviewProject_front/css/mainPage.css">
</head>
<body>
    <div id="mainPage">
            <div id="header">
                <div class="headerBox">
                <div>LOGO</div>
                <input type="text" value="책 검색">
                <a href="/login/page">로그인</a>
                </div>
            </div>
        </div>
        <div id="inner">
            <div class="innerbox">
                <ul id="banner">
                    <li>감상문</li>
                    <li>책</li>
                    <li>오디오북</li>
                    <li>커뮤니티</li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div class="mainName">오늘의 책</div>
            <div class="daybook">책이 추가될 자리</div>
        </div>
        <div id="ad">
            <div class="adbox">
                <div class="adName">최근 감상문</div>
                <div class="bookUpload">책이 추가될자리</div>
            </div>
        <div id="topbutton">
            <button>top</button></div>
        </div>
        <div id="footer">
            <div>(주)북아일렌드</div>
        </div>
        <div class="loginBox">
            <div>
                <div>로그인 이미지</div>
                <div>반가워요 북커버리 시작하기</div>
                <div class="logintext">요즘 일하는 사람들이 책을 찾는 새로운 방법</div>
                <button type="button">구글로 3초만에 시작하기</button>
                <p>로그인은
                    <a href="https://bookcovery.notion.site/7f574a4a03a540ea846dd638aa712b11">개인정보보호 정책</a>
                    및
                    <a href="https://bookcovery.notion.site/92c58cef635a4fd08663942a6d4e7288">서비스 약관</a>
                    에 동의하는 것을 의미합니다!
                </p>
            </div>
        </div>
    </div>
</body>
</html>