<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/BookReviewProject_front/css/mainPage.css">
</head>
<body>
    <div id="mainPage">
        <div id="header">
            <div>로고</div>
            <input type="text" value="책 검색">
            <a href="/login/page">로그인</a>
            </div>
        </div>
        <div id="inner">
            <ul id="banner">
                <li>감상문</li>
                <li>책</li>
                <li>오디오북</li>
                <li>커뮤니티</li>
            </ul>
        </div>
        <div id="main">
            <div class="mainName">오늘의 책</div>
            <div class="bookUpload">책</div>
        </div>
    </div>
</body>
</html>