<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="/css/maincss/header.css">
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/maincss/ad.css">
    <link rel="stylesheet" href="/css/maincss/inner.css">
    <link rel="stylesheet" href="/css/maincss/footer.css">
</head>
<body>
    <div id="mainPage">
        <div id="header">
            <div class="header-inner">
                <div class="headerBox">
                    <h1>LOGO</h1>
                    <div class="search">
                        <input type="text" placeholder="원하는 책을 검색해보세요!" id="input">
                        <div>검색</div>
                    </div>
                    <a href="/mypage">로그인</a>
                </div>
                <div id="inner">
                    <div class="innerbox">
                        <ul class="banner">
                            <li>
                                <a href="#">감상문</a>
                            </li>
                            <li>
                                <a href="#">책</a>
                            </li>
                            <li>
                                <a href="#">오디오북</a>
                            </li>
                            <li>
                                <a href="#">커뮤니티</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="mymain">
            <div class="mypage">
                <h3>받은아이디 의 서재</h3>
            </div>
            <div class="profile">
                <div class="left">
                    <div><img class="mypoto" src="#" ait="#"></div>
                    <div>받은아이디</div>
                    <a href="/usermodify" class="profileBtn">프로필수정</a>
                    <div class="leftBottom">
                        <div>
                            <div>평수가 추가될자리</div>
                            <div>서재</div>
                        </div>
                        <div>
                            <div>북마크 한책 권수 </div>
                            <div>책</div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="bookcaseRoute">
                        <div>
                            <a href="/mypage" class="mybookcase">책장</a>
                        </div>
                        <div>-</div>
                        <div>
                            <a href="/myreview" class="myReview">리뷰</a>
                        </div>
                    </div>
                    {% if mybookData %}
                    <div class="bookData">
                        {% for bookData in mybookData%}
                        <div class="bookMarkBox">
                            <img src="{{bookData.cover}}">
                            <p>{{bookData.title}}</p>
                            <p>{{bookData.author}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="rightBox" >
                        <div>책장이 비어있어요.</div>
                        <div>북마크를 추가해서 책을 저장할 수 있어요!</div>
                        <a href="#" class="bookmarkBtn">북마크 하러가기</a>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <div id="topbutton">
            <a href="#mainPage"><img width="60px" height="60px" src="/img/topimg.png"></a>
        </div>
    </div>
</body>
</html>