<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="/css/maincss/header.css">
    <link rel="stylesheet" href="/css/myreview.css">
    <link rel="stylesheet" href="/css/maincss/ad.css">
    <link rel="stylesheet" href="/css/maincss/footer.css">
    <link rel="stylesheet" href="/css/maincss/loginbox.css">
</head>
<body>
    <div id="mainPage">
        <div id="header">
            <div class="header-inner">
                <div class="headerBox">
                    <a href="/">
                        <img src="/img/logo4.png">
                    </a>
                    <div class="search">
                        <a href="#" id="input">
                            원하는 책을 검색해보세요!
                            <img src="/img/readingGlasses2.png">
                        </a>
                    </div>
                    <a href="/login/page" class="logoLogin">북아일렌드 사작하기</a>
                </div>
                <div id="inner">
                    <div class="innerbox">
                        <ul class="banner">
                            <li>
                                <a href="#">감상문</a>
                            </li>
                            <li>
                                <a href="#">책</a>
                            </li>
                            <li>
                                <a href="#">오디오북</a>
                            </li>
                            <li>
                                <a href="#">커뮤니티</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="mymain">
            <div class="mypage">
                <h3>받은아이디 의 서재</h3>
            </div>
            <div class="profile">
                <div class="left">
                    <div><img class="mypoto" src="#" ait="#"></div>
                    <div class="nikname">받은아이디</div>
                    <a href="/usermodify" class="profileBtn">프로필수정</a>
                    <div class="leftBottom">
                        <div>
                            <div>북마크 수</div>
                            <div>북마크</div>
                        </div>
                        <div>
                            <div>감상문 수</div>
                            <div>감상문</div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="bookcaseRoute">
                        <div>
                            <a href="/mypage" class="mybookcase">북마크</a>
                        </div>
                        <div>-</div>
                        <div>
                            <a href="/myreview" class="myReview">감상문</a>
                        </div>
                    </div>
                    {% if mybookData %}
                    <div class="bookReview">
                        {%for Bookreview in mybookData %}
                        <div class="BookreviewBox">
                            <div class="imgBox" >
                                <a href="#">
                                    <img class="myimg" src="{{Bookreview.cover}}" alt="">
                                </a>
                            </div>
                            <div class="viewDate">
                                <div>{{Bookreview.title}}</div>
                                <div class="viewRight">
                                    <div>{{Bookreview.pubDate}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="rightBox" >
                        <div>리뷰가 비었어요.</div>
                        <div>읽은책에 자신의 생각을 적어보세요!</div>
                        <a href="#" class="bookmarkBtn">책 둘러보기</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="topbutton">
            <a href="#mainPage"><img width="60px" height="60px" src="/img/topimg.png"></a>
        </div>
    </div>
</body>
</html>