<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usermodify</title>
    <link rel="stylesheet" href="/css/maincss/header.css">
    <link rel="stylesheet" href="/css/usermodify.css">
    <link rel="stylesheet" href="/css/maincss/ad.css">
    <link rel="stylesheet" href="/css/maincss/footer.css">
    <link rel="stylesheet" href="/css/maincss/loginbox.css">
</head>
<body>
    <div id="mainPage">
        <div id="header">
            <div class="header-inner">
                <div class="headerBox">
                    <a href="/">
                        <img src="/img/logo4.png">
                    </a>
                    <div class="search">
                        <a href="#" id="input">
                            원하는 책을 검색해보세요!
                            <img src="/img/readingGlasses2.png">
                        </a>
                    </div>
                    <a href="/login/page" class="logoLogin">북아일렌드 사작하기</a>
                </div>
                <div id="inner">
                    <div class="innerbox">
                        <ul class="banner">
                            <li>
                                <a href="#">감상문</a>
                            </li>
                            <li>
                                <a href="#">책</a>
                            </li>
                            <li>
                                <a href="#">오디오북</a>
                            </li>
                            <li>
                                <a href="#">커뮤니티</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="mymain">
            <div class="mypage">
                <h3>받은아이디 의 서재</h3>
            </div>
            <div class="profile">
                <div class="left">
                    <div>
                        <img class="mypoto" src="#" ait="#">
                    </div>
                    <div class="nikname">받은아이디</div>
                    <a href="/mypage" class="profileBtn">내 서재</a>
                    <div class="leftBottom">
                        <div>
                            <div>북마크 수</div>
                            <div>북마크</div>
                        </div>
                        <div>
                            <div>감상문 수 </div>
                            <div>감상문</div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="bookcaseRoute">
                        <div>
                            <h2 class="mydata">내정보</h2>
                        </div>
                    </div>
                        <!-- {% for mydata in bookData %} -->
                        <div id="myModify">
                            <div>
                                <img class="modifyImg"src="{{mydata.cover}}">
                            </div>
                            <div class="modifyBox">
                                <div class="name">
                                    <div>이름</div>
                                    <p> {{mydata.author}}</p> 
                                </div>
                                <div class="email">
                                    <div>이메일</div>
                                    <form class="modifyform" method="get" action="/modity/email">
                                        <input type="text" name="title" placeholder="이메일을 수정할 수 있습니다!">
                                        <button type="submit">이메일 수정</button>
                                    </form>
                                </div>
                                <div class="title">
                                    <div>직업 타이틀</div>
                                    <form class="modifyform" method="get" action="/modity/title">
                                        <input type="text" name="title" placeholder="타이틀을 수정할 수 있습니다!">
                                        <button type="submit">타이틀 수정</button>
                                    </form>
                                </div>
                                <div class="Introduce">
                                    <div>자기소개</div>
                                    <form class="modifyform" method="get" action="/modity/myIntroduce">
                                        <input type="text" name="myIntroduce" placeholder="자기소개를 수정할 수 있습니다!">
                                        <button type="submit">자기소개 수정</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    <div class="rightBox" >
                        <div>리뷰가 비었어요.</div>
                        <div>읽은책에 자신의 생각을 적어보세요!</div>
                        <a href="#" class="bookmarkBtn">책 둘러보기</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>