#textbox {
  border-top: none;
  margin-top: 0;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.textbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 20px 20px;
  outline: 0;
  text-align: left;
  resize: none;
  font-size: 16px;
  border-radius: 8px;
}

#btnbox {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.write-btn {
  cursor: pointer;
  font-size: 17px;
  color: white;
  font-weight: 700;
  background-color: #1659cc;
  border-radius: 8px;
  padding: 6px;
  border: none;
  width: 66px;
}

.show {
  border-top: 1px solid #efefef;
  margin-top: 30px;
}

.showbox {
  border: 1px solid #efefef;
  border-radius: 18px;
  margin-top: 30px;
}

.imgBox > div {
  display: flex;
  align-items: end;
}
.myimg {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.showcomment {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.writebox {
  display: flex;
  gap: 10px;
  margin-top: 170px;
}

.reviewBox {
  padding: 16px;
  border: 1px solid #efefef;
  border-radius: 18px;
  height: 135px;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.commentwrite {
  margin-top: 10px;
}

.writebox {
  display: flex;
  margin-top: 31px;
}

#searchR {
  padding: 32px 24px;
}

.writebox > div {
  display: flex;
  align-items: end;
}
/* 오디오북 버튼 */
.btnImg {
  margin-left: 76px;
}

.btnImg > button:nth-child(2) {
  margin-left: 20px;
}
