.bookReview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 32px;
}

/* margin-top 추가, cursor 삭제 */
.BookreviewBox {
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  justify-content: center;
  border: solid 1px #efefef;
  border-radius: 18px;
}

/* 생성 */
.BookreviewBox > .review_content {
  cursor: pointer;
}

/* class 이름 변경 .imgBox => user_box */
/* justify-content 변경 */
.user_box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 22px;
}

/* 생성 */
.user_box > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.user_box > div {
  display: flex;
  align-items: end;
}

.myimg {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
