.bookReview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 32px;
}

.BookreviewBox {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center;
    border: solid 1px #efefef;
    border-radius:18px;
    cursor: pointer;
}

.imgBox{
    display: flex;
    justify-content: left;
    gap: 10px;
}
.imgBox > div {
    display: flex;
    align-items: end;
}
.myimg{
    width: 40px;
    height: 40px;
    border-radius: 12px;
}