#container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

#innerContainer {
    margin: 0 auto;
    display: flex;
    max-width: 1100px;
    justify-content: center;
}

#searchR {
    padding: 32px 24px;
}

.title {
    position: sticky;
    z-index: 1;
}

.bookImg > img  {
    margin-left: 34px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.title > button {
    margin-left: 111px;
}

.title > button > img {
    width: 43px;
    height: 16px;
    cursor: pointer;
}

#attribute {
    display: flex;
    flex-direction: column;
    margin-left: 46px;
    margin-right: 5px;
    height: 90vh; 
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
  }

.bookTitle{
    font-size: 30px;
    font-weight: 600;
}

.bookAuthor{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
}

.bookDct{
    margin-top: 25px;
    font-weight: 400;
}

#content {
    display: flex;
    margin-top: 80px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#content > div {
    padding-left: 35px;
    font-size: 25px;
    font-weight: 700;
}


#content > button {
    padding-right: 40px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    background-color: white;
    cursor: pointer;
}

.commentaryBtn {
    /* display: none; */
    margin-left: 70px;
    cursor: pointer;
}

.btnImg {
    display: flex;
    flex-direction: row;
    margin-left: 108px;
}


.btnImg > button > img {
    width: 43px;
    height: 16px;
    cursor: pointer;
}
