.loginBox{
  margin: revert;
}

.login{
    width:100%;             
    max-width:500px;         
    border-radius:10px;       
    overflow:hidden;         
    background-color: white; 
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.8); 
  }
.popup-head{
  position: relative;
}
.popup-head > img {
    width: 100%;
    height: 300px;
}
.closeBtn {
  position: absolute; /* 절대 위치 설정 */
  top: 10px; /* 이미지 내부에서 위쪽 여백 */
  right: 10px; /* 이미지 내부에서 오른쪽 여백 */
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  color: white; /* 글자색 */
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.body-titlebox > h3{
    font-weight: 600;
}

.body-content {
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    justify-content: center;
    word-break:break-word;    
  }
.body-contentbox  {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
   
}
.body-contentbox > form > button {
    width: 350px;
    padding: 10px 0 ;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: solid 1px #e2e2e2;
    cursor: pointer;
    font-weight: 600;
  }

.body-contentbox > form > button:hover{
    background-color: #e2e2e2;
  }
.logintext {
    font-size: 15px;
    color: #666;

}
.body-content > p {
    font-size: 12px;
    color: #999;
}
.body-content > p > a {
    color: #999;
}
dialog {
  display: block;
  max-block-size: min(80vh, 100%);
  /* overflow: hidden; */
  transition: all .3s;
  border-radius: 0.5rem;
  padding: 0;
  scale: 1;
}
dialog:not([open]) {
  pointer-events: none;
  scale: 0.9;
  opacity: 0;
}
dialog::backdrop {
  backdrop-filter: blur(0.25rem);
}