#main {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom:50px;
    border-bottom: solid 1px #ededed;
}
#mainBox {
    display: flex;
    gap: 60px;
}
.mainName {
  width: 200px;
  padding-top: 20px;
  padding-left: 24px;
}
.mainName > h3{
    margin: 0px;
}
.mainName > h3 > a {
    color: #1659cc;
    font-weight: 800;
}

.daybookbox{
    display: flex;
    /* padding: 0 10px; */
    width: 800px;
    overflow: hidden;
}

.daybookbox > ul {
    display:flex;
    flex-direction: column;
    gap: 8px;
    padding:0 16px;
}

.daybookbox > ul > .daybook-thumnail {
    object-fit: fill;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}
.daybookbox > ul > .daybook-thumnail > a > img {
    border-radius: 6px;
    width: 170px;
    height: 240px;
}

.daybookbox > ul > .daybook-thumnail:hover {
    transform: translateY(-17px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}


.daybookbox > ul > .daybook-title {
    font-size:16px;
    font-weight: bold;
}

.daybookbox > ul > .daybook-author {
    font-size:12px;
    color:#333;
}

.daybookbox > ul > .daybook-description {
    font-size:12px;
    color:#666;
}

.daybookUpload{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 10px;
}

.daybookImg{
    width: 160px;
    height: 200px;
}
.sliderBox{
    display: flex;
    justify-content: center;
    align-items: center;

}
.slide-container {
    display: flex;
    justify-content: space-between;
    
}
.slider {
    max-width: 800px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
    
.item {
    max-width: 200px;
    box-sizing: border-box;
    padding: 15px;

    cursor: pointer;
}
        
.item > a > img {
    width: 170px;
    height: 240px;
    border-radius: 4px;
    box-sizing: border-box;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
.controls button {
    padding: 5px 7px;
    margin: 0 10px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: #fff
}
.slideContainer{
    display: flex;
    font-size: 12px;
    padding: 30px 0;
    max-height: 350px;
}
.slideContainer :nth-child(2) {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.slideContainer :nth-child(1) {
    font-size: 12px;
    color: #333;
    font-weight: 0;
}
    
