#main {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom:50px;
    /* background-color: #f3ead6; */
    border-bottom: solid 1px #ededed;
    padding-top: 200px;
}

.mainName {
    padding:24px 16px;
}

.daybookbox{
    display: flex;
    flex-direction: row;
}

.daybookbox > ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding:0 24px;
}

.daybookbox > ul > .daybook-thumnail {
    object-fit: fill;
    -webkit-box-shadow: 0px 0px 47px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 47px -4px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 47px -4px rgba(66, 68, 90, 1);
}
.daybookbox > ul > .daybook-thumnail:hover {
    -webkit-box-shadow: 0px 0px 47px 1px rgba(59, 70, 167, 1);
    -moz-box-shadow: 0px 0px 47px 1px rgba(59, 70, 167, 1);
    box-shadow: 0px 0px 47px 1px rgba(59, 70, 167, 1);
}

.daybookbox > ul > .daybook-title {
    font-size:16px;
    font-weight: bold;
}

.daybookbox > ul > li > .daybook-author {
    font-size:12px;
    color:#333;
}

.daybookbox > ul > .daybook-description {
    font-size:12px;
    color:#666;
}

.daybookUpload{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 10px;
}

.daybookImg{
    width: 200px;
    height: 270px;
}

